<html>

<head>
    <title>{{ site_title }} &mdash; {{ meta.description|striptags }}</title>
    <meta name="description" content="{{ meta.description|striptags }}" />
    <meta name="author" content="{{ config.author }}" />
    <link rel="stylesheet" href="{{ theme_url }}/css/grid.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/_style.css">
</head>

<body>

{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col-12">
	    <h2>Welcome!</h2>

<p>Introduce yourself here or something,</p>

<p>I need to do work on this page</p>

{% include 'footer.html' %}

</body>
</html>
