<html>

<head>
    <title>{{ site_title }} &mdash; {{ meta.description|striptags }}</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="{{ meta.description|striptags }}" />
    <meta name="author" content="{{ config.author }}" />
    <link rel="stylesheet" href="{{ theme_url }}/css/grid.css">
    <link rel="stylesheet" href="{{ theme_url }}/css/_style.css">
</head>

<body>

{% include 'header.html' %}

<div class="container">
    <div class="row">
        <div class="col-12">
	    <h2>Homepage Title</h2>
            <p>This page is still under construction.</p>
        </div>
    </div>
</div>

<script>
    console.log("Hi! Email dan@3264.uk");
    console.log("")
</script>
<script>
function myFunction() {
    var x = document.getElementById("myTopnav");
    if (x.className === "topnav") {
        x.className += " responsive";
    } else {
        x.className = "topnav";
    }
}
</script>

</body>
</html>
