<html>

<head>
	<title>{{ meta.title }} | {{ site_title }}</title>
	<meta name="description" content="{{ meta.description|striptags }}" />
	<link rel="shortcut icon" href="{{ theme_url }}/favicon.ico">
	<link href="https://fonts.googleapis.com/css?family=Oswald" rel="stylesheet">
	<link rel="stylesheet" href="{{ theme_url }}/css/_style.css">
	<link rel="stylesheet" href="{{ theme_url }}/css/grid.css">
</head>

<body>

{% include 'header.html' %}

<div class="container">
		<div class="col-12">
			{{ meta.category }}
			<a href="{{ current_page.url }}">{{ meta.title }}</a>
			<span style="color:#fff">{{ meta.date }}</span>
			{{ content }}
			<img src="{{ meta.featured }}" alt="{{ meta.title }}" class="img-responsive">
		</div>
</div>

{% include 'footer.html' %}

</body>
</html>
