{% include 'header.html' %}


<div class="articleGrid">
    <div class="row">
    <span>{{meta.author}} &nbsp; | &nbsp; {{ meta.date}} &nbsp; | &nbsp;{{meta.description}}</span>
        <h1>{{meta.title }} </h1>
        

        {{ page.date_formatted }}
        {{ content }}
    </div>
</div>

{% include 'footer.html' %}






